body {
    /*background-color: #f3a990;*/
    background-image: url(imagenes/colores.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden !important;
    overflow: auto;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* INICIO DE SECCION MENU DE NAVEGACION */
.conteiner-header {
    display: flex;
    width: 100%;
    height: 90px;
    max-width: 1400px;
    background-color: whitesmoke;
    box-shadow: rgb(245 178 2) 0px 5px 15px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
}

.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    padding-right: 40px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: black;

}

li {
    padding: 0px 20px;
}

nav,
.menu {
    transition: 0.3s;
    padding: 10px;
}



.menu-list:hover {
    color: #f7763d;
}

.menu-contact {
    background: #eb4b06;
    border-radius: 20px;
}

.menu-contact:hover {
    background: #eb6227;
}


/* FIN DE SECCION MENU DE NAVEGACION*/

/* INICIO DE SECCION PRESENTACION */

.conteiner-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    max-width: 1400px;
}

.welcome-text {
    padding: 200px 0px 200px 40px;

}

h3 {
    font-size: 3em;

}

h2 {
    font-size: 6em;
    color: white
}

p {
    margin: 20px 0px 30px 0px;
}

.button-welcome {
    font-size: 2em;
    border-radius: 30px;
    ;
    padding: 5px 10px;
    background: #eb4b06;
    color: white;
}

.button-welcome:hover {
    background: #eb6227;
    transition: 2ms;

}


.img-init {
    width: 400px;
    height: 450px;
    margin: 0px 10%;
    border-radius: 100px;
}

/* FIN DE PRESENTACION */

/* INICIO DE SECCION CONOCIMIENTOS */
.conteiner-cards {
    justify-content: center;
    width: 100%;
    height: 100%;
    display: block;
    max-width: 1100px;
    text-align: center;
    margin: auto;
}

.cards-skills {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    background-color: #113599;
    justify-content: space-between;
}

.card:hover {
    border: 3px solid purple;
    transition: 5;
}

.card {
    border: 1px solid blueviolet;
    background-color: whitesmoke;
    border-radius: 30px;
    width: 230px;
    height: 230px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;

}

.icons-card {
    text-align: center;
    font-size: 6em;
    margin: auto;
}

.text {
    text-align: center;
}

.fa-html5 {
    color: #d94a0d;
}

.fa-css3-alt {
    color: #2e6ddc;
}

.fa-sass {
    color: #d64cc4;
}

.fa-js {
    color: #f0db4f;
}

.fa-react {
    color: #22ecca;
}

.fa-git-alt {
    color: #f34f29;
}

/* FIN SECCION MIS  CONOCIMIENTOS */

/* INICIO DE SECCION CITA */
.conteiner-phrase {
    max-width: 1400px;
    width: 100%;
    height: 600px;
    background-color: whitesmoke;
    text-align: center;
    margin: 40px 0px;
}

.fa-quote-right {
    color: #f46f42;
    font-size: 300px;
}

.phrase-author {
    padding: 50px;
}

/* FIN DE SECCION CITA */

/* INICIO DE SECCION MIS PROYECTOS */

.conteiner-cards-proyects {
    display: flex;
    width: 90%;
    height: 100%;
    max-width: 1100px;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    background-color: #2e6ddc;
    justify-content: space-between;
}

.card-proyects {
    border: 1px solid blueviolet;
    background-color: white;
    border-radius: 20px;
    width: 305px;
    height: 290px;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}


.card-proyects:hover {
    border: 3px solid purple;
    transition: 5;
}

.img-proyects {
    width: 250px;
    height: 180px;
    border: 1px solid orangered;
    margin: auto;
}

#briefcase-img {
    width: 270px;
}

/* FIN DE SECCION MIS PROYECTOS */

/* INICIO DE SECCION FORMULARIO */
.conteiner-contact-write-me {
    display: flex;
    width: 100%;
    height: 900px;
    max-width: 1400px;
    justify-content: center;
    align-items: center;
}

.contact-write-me {
    display: flex;
    width: 80%;
    height: 700px;
    background-color: aliceblue;
    border: 2px solid #eb4b06;
    flex-direction: row;
    border-radius: 30px
}

.contact,
.write-me {
    width: 50%;
    max-width: 1000px;
}

/* INICIO SECCION CONTACTAME */
.content {
    display: flex;
    width: 24rem;
    height: 4rem;
    margin-top: 8px;
    padding: 0px 8px;
    border-radius: 100px;
    align-items: center;

}

.icon-redes {
    padding: 15px;
    border-radius: 50%;
    font-size: 1em;
    margin-right: 10px;
    align-items: center;
    text-align: center;
}

.content:hover {
    color: #eb4b06;
    transition: 3ms;
}

.content:hover .icon-redes {
    background: #eb4b06;
    transition: 3ms;
    color: aliceblue;
}

#red-email:active {
    transition: 5ms;
    border: none;
    width: 23rem;
    height: 3rem;
    box-shadow: rgb(244 111 66) 2px 2px 2px 2px, rgb(244 111 66) 0px 4px 6px -1px, rgb(244 111 66) 2px 2px 2px inset;
}

#red-email:focus {
    transition: 5ms;
    border: none;
    width: 23rem;
    height: 4rem;
    box-shadow: rgb(244 111 66) 2px 2px 2px 2px, rgb(244 111 66) 0px 4px 6px -1px, rgb(244 111 66) 2px 2px 2px inset;
}

.content:active {
    transition: 5ms;
    border: none;
    width: 15rem;
    height: 4rem;
    box-shadow: rgb(244 111 66) 2px 2px 2px 2px, rgb(244 111 66) 0px 4px 6px -1px, rgb(244 111 66) 2px 2px 2px inset;
}

.content:focus {
    transition: 1s;
    border: none;
    width: 15rem;
    height: 4rem;
    box-shadow: rgb(244 111 66) 2px 2px 2px 2px, rgb(244 111 66) 0px 4px 6px -1px, rgb(244 111 66) 2px 2px 2px inset;
}

.fa-linkedin {
    color: #8807B2;
    font-size: 1.2em;
}

.fa-linkedin:hover {
    color: #fdfcfc;
    font-size: 1.2em;
    transition: 1ms;
}


.fa-envelope {
    color: #8807B2;
}

.fa-envelope:hover {
    color: #fdfcfc;
    transition: 1ms;
}

.fa-github-alt {
    color: #8807B2;
    font-size: 1.3em;
}

.fa-github-alt:hover {
    color: #fdfcfc;
    transition: 1ms;
}

.fa-discord {
    color: #8807B2;
}

.fa-discord:hover {
    color: #fdfcfc;
    transition: 1ms;
}

.text-contact {
    margin: 30px 35px;
}

/* FIN SECCION CONTACTAME */

/* INICIO SECCION ESCRIBEME */
.write-me {
    display: block;

}

.text-write-me {
    margin: 30px 10px;
}

.conteiner-name-last-name {
    display: flex;
    max-width: 1100px;
}

.label-last-name {
    padding-left: 30px;
}


input[placeholder] {
    display: block;
    flex-direction: column;
    margin: 20px 0px;
    width: 200px;
    height: 30px;
    border: none;
}

#mensaje {
    display: block;
    width: 450px;
    height: 150px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 18px;
    border: none;
}

#mensaje:focus {
    outline: 2px rgb(244 111 66);
    box-shadow: rgb(244 111 66) 2px 2px 2px 2px, rgb(244 111 66) 0px 4px 6px -1px, rgb(244 111 66) 2px 2px 2px inset;
    border: none;
    transition: 1ms;
}

input[type="text"] {
    padding: 20px;
    border-radius: 20px;
}

input[type="text"]:focus {
    outline: 2px rgb(244 111 66);
    box-shadow: rgb(244 111 66) 2px 2px 2px 2px, rgb(244 111 66) 0px 4px 6px -1px, rgb(244 111 66) 2px 2px 2px inset;
    border: none;
    transition: 1ms;
}

input[type="email"] {
    padding: 20px;
    border-radius: 20px;
}

input[type="email"]:focus {
    outline: 2px rgb(244 111 66);
    box-shadow: rgb(244 111 66) 2px 2px 2px 2px, rgb(244 111 66) 0px 4px 6px -1px, rgb(244 111 66) 2px 2px 2px inset;
    border: none;
    transition: 1ms;
}

input:focus {
    outline: 3px solid #eb4b06;
    transition: 1ms;
    border: none;
    transition: 1ms;
}

button {
    padding: 10px 40px;
    margin-top: 50px;
    background-color: #F34F29;
    border-radius: 30px;
    font-size: 1.3em;
    border: none;
}

button:hover {
    background-color: #F46F42;
    border: 1px solid #b331df;
    transition: 1ms;
}


input:valid:focus {
    box-shadow: 0px 0px 20px #dd1010;
}



input:invalid:not(:placeholder-shown):focus {
    box-shadow: 0px 0px 20px #05e623;
}

input[class*="input-email"]:valid:focus {
    box-shadow: 0px 0px 20px #30cf08;
}

.input-email:invalid:not(:placeholder-shown):focus {
    box-shadow: 0px 0px 20px #ce1204;
}

#mensaje:valid:focus {
    box-shadow: 0px 0px 20px #30cf08;
}

.fa-circle-check {
    color: #05e623;
}

.fa-circle-xmark {
    color: #ce1204;
}








/* FIN SECCION  ESCRIBEME  */

/* FIN DE SECCION FORMULARIO */

/* INICIO DE SECCION FOOTER */
.conteiner-footer {
    width: 100%;
    height: 300px;
    max-width: 1400px;
    background-color: aliceblue;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-footer {
    padding: 13px;
    margin: 10px 15px;
    border-radius: 50%;
    border: 1px solid;
    background-color: #eb4b06;
    color: white;
    align-items: center;
    text-align: center;
}

i[class*="icon-footer"]:hover {
    color: #eb4b06;
    border: 1px solid #8807B2;
    background-color: white;
}

ul[class*="menu-icons"] {
    margin: 25px 0px;
}

ul[class*="menu-icons"]:hover {

    border-radius: 100%;
    color: #eb4b06;
}
























/*RESPONSIVE*/


/*@media(max-width:2295px) {
    .cards-conocimientos {
        background-color: aqua;
        justify-content: center;
    }
}
@media (min-width:915px) and (max-width:1246px){
    .cards-conocimientos {
        width: 100%;
        background-color: aqua;
        justify-content: center;
    }
}*/



@media(max-width:1239px) {
    .img-init {
        margin: 0;
    }

    .welcome-text {
        padding: 200px 70px 200px 0px;

    }
}

@media(max-width:1100px) {
    .img-init {
        margin: 0;
    }

    .welcome-text {
        padding: 200px 70px 200px 0px;

    }

}

@media(max-width:1064px) {
    .conteiner-cards-proyects {
        width: 100%;
    }
    .card-proyects {
        width: 290px;
        height: 300px;
    }
}      




@media(max-width:1030px) {
    .conteiner-cards-proyects {}
}



@media(max-width:1014px) {
    .conteiner-cards-proyects {}
}

@media(max-width:1104px) {
    .conteiner-header {
        display: none;
    }

    .conteiner-welcome {
        display: block;
        text-align: center;
        padding: 0;
        margin: auto;
    }

    .welcome-text {
        padding: 70px 0px;
        margin: 0;
        border: 0;
    }

    .img-init {

        padding-left: 30px;
        width: 480px;
        height: 550px;
        padding-bottom: 80px;
        padding-top: 30px;
        border-radius: 10;
        padding-right: 0;
        margin: 0;
    }
}

@media(max-width:988px) {
    .cards-skills {
        width: 80%;
        
    }
}

@media(max-width:920px) {
    .conteiner-welcome {
        margin-left: 10%;
    }

    .conteiner-cards {
        margin-left: 4%;
    }

    .cards-skills {
        width: 80%;
;
        background-color: #30cf08;
    }

    .card {
        width: 330px;
        height: 330px;
    }

    .conteiner-phrase {
        background-color: #ce1204;

        width: 107%;
        max-width: none;
    }

    .phrase-text {
        text-align: center;
    }
}

@media(max-width:900px) {
    .conteiner-cards-proyects {
        width: 70%;
    }
}

@media(max-width:845px) {
    .cards-skills {
        width: 80%;
    }
    .card-proyects {
        width: 300px;
        height: 300px;
    }
    .conteiner-cards-proyects {
        width: 80%;
    }
}

@media(max-width:833px) {
    .cards-skills {
        width: 90%;
    }
}

@media(max-width:780px) {
    .conteiner-phrase {
        width: 110%;
        background-color: #22ecca;
    }

    .conteiner-cards {
        margin-left: 8%;
    }
}

@media(max-width:750px) {
    .conteiner-cards-proyects {
        width: 90%;
    }
}

@media(max-width:745px) {
    .conteiner-phrase {
        width: 115%;
    }
}

@media(max-width:735px) {
    .cards-skills {
        width: 95%;
    }
}

@media(max-width:720px) {
    .conteiner-welcome {
        margin-left: 20%;
    }

    .img-init {
        width: 520px;
        height: 600px;
    }

    .welcome-text {
        font-size: 1.2em;
    }

    .conteiner-cards {
        margin-left: 5%;
    }

    .text {
        margin-left: 16%;
    }  
    
    .cards-skills {
        width: 110%;
        margin: 0;
    }

    .conteiner-phrase {
        margin-left: 0;
        width: 115%;
        background-color: #22ecca;
    }

    .fa-quote-right {
        font-size: 250px;
        margin-top: 50px;
        align-items: center;
    }

    .phrase-author {
        margin-top: 50px;
    }

}

@media(max-width:700px) {
    .conteiner-welcome {
        margin-left: 15%;
    }

    .conteiner-cards {
        margin-left: 2%;
    }

    .text {
        margin-left: 14%;
    }

    .conteiner-cards {
        margin-left: 6%;
    }
    .cards-skills {
        background-color: #b331df;
    }

    .conteiner-phrase {
        margin-left: 0;
        width: 120%;
    }
}

@media(max-width:672px) {
    .conteiner-cards-proyects {
        width: 110%;
        margin-left: 10%;
    }
    .welcome-text {
        font-size: 1.4em;
        margin-left: 15%;
    }
    
}

@media(max-width:675px) {
    .conteiner-cards-proyects {
        width: 100%;
    }
}    

@media(max-width:660px) {
    .conteiner-welcome {
        margin-left: 20%;
    }

    .cards-skills {
        width: 120%;
        margin: 0;
    }

    h2 {
        font-size: 7em;
    }
    .conteiner-phrase {
        width: 130%;
    }

    .img-init {
        width: 550px;
        height: 630px;
        margin: 0;
    }

    .welcome-text {
        font-size: 1.4em;
        margin-left: 15%;
    }
}

@media(max-width:656px) {
    .conteiner-phrase {
        width: 132%;
        background-color: #62466b;
    }
}

@media(max-width:648px) {
    .conteiner-phrase {
        width: 134%;
    }
}

@media(max-width:632px) {
    .conteiner-phrase {
        width: 135%;

    }
}

@media(max-width:612px) {
    .conteiner-phrase {
        width: 139%;

    }
}

@media(max-width:600px) {
    .conteiner-cards-proyects {
        width: 110%;
    }
    .conteiner-phrase {
        width: 140%;
    }
}


@media(max-width:550px) {
    .conteiner-cards-proyects {
        justify-content: center;
        width: 123%;
        margin: 0;
    }
        .card-proyects {
            width: 700px;
            height: 380px;
        }
        .img-proyects {
            width: 500px;
            height: 300px
        }
        
        .min-text {
            margin: auto;
        }
        .conteiner-cards {
            margin-left: 9%;
        }
        .cards-skills {
            justify-content: center;
        }
        
}